<div class="page-content">
  <div class="content-box" fxLayoutAlign="start" fxLayout="row" fxLayoutGap="1rem">
    <div>
      <h2>Danh sách dự án</h2>
    </div>
  </div>
  <div class="content-box" fxLayoutAlign="start" fxLayout="row" fxLayoutGap="1rem">
    <mat-card>
      <table mat-table [dataSource]="dataProjects" class="w-100">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên dự án </th>
          <td mat-cell *matCellDef="let row" class="pointer" > {{row.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="disProjectColumns"></tr>
        <tr mat-row [class.isSelected]="row.id == selectedRow" *matRowDef="let row; columns: disProjectColumns;let i = index" (click)="getRecord(row)"></tr>
      </table>
      <!-- <pre>
        <p>{{project | json}}</p>
      </pre> -->
    </mat-card>
    <mat-card>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Thông tin chính">
          <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
            <div *ngIf="project.code" class="vn-mb-1 vn-mt-1">
              <label>Mã dự án: {{project.code}}</label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tên dự án</mat-label>
              <input matInput placeholder="Placeholder" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Bắt đầu</mat-label>
              <input matInput [matDatepicker]="begin_picker" formControlName="begin_at">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="begin_picker"></mat-datepicker-toggle>
              <mat-datepicker #begin_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Kết thúc</mat-label>
              <input matInput [matDatepicker]="end_picker" formControlName="end_at">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
              <mat-datepicker #end_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Chủ đầu tư</mat-label>
              <input matInput placeholder="Placeholder" formControlName="investor">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Mô tả dự án</mat-label>
              <textarea matInput formControlName="des" [rows]="6"></textarea>
            </mat-form-field>
            <button type="submit" mat-flat-button color="primary">Lưu thông tin</button>

          </form>

        </mat-tab>
        <mat-tab label="Thông tin khác">
          <div>
            <label>Ngày tạo: {{project.create_at.format('DD/MM/YYYY')}}</label>
          </div>
          <div>
            <label>Người tạo: {{project.create_by}}</label>
          </div>
        </mat-tab>
        <mat-tab label="Tài liệu liên quan">
          <mat-selection-list #docs [multiple]="false">
            <mat-list-option *ngFor="let doc of project.doc" [value]="doc">
              {{doc.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
