.content-box {
    .mat-card {
        width: 100%;
    }

    .mat-card,
    .mat-expansion-panel {
        box-shadow: none;
        margin-bottom: 1.5rem;
    }
}

mat-form-field {
    margin-right: 12px;
}
.isSelected{
    background-color: #f1f1f1;
    font-weight: 500;
}